<title>About Us</title>
<div class ="page-header">
  <h1>{Sassy Hash}
  <small>Smart and Sexy</small></h1>
</div>

<p class = "lead">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>

