<div class="page-header">
  <h1>Contact Me<br>
    <small>we both know you can't resist it</small></h1>
</div>

<hr>

<h3>Viable Places</h3>

<p>
  <a href= "http://www.twitter.com/brittanyyoon">Twitter</a><br />
  <a href= "http://www.binnieinsf.tumblr.com">Tumblr</a><br />
  <a href= "http://www.linkedin.com.binnayoon">Linked-In</a><br />
</p>
<br>
<br>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
